* {
  box-sizing: border-box; }

body {
  padding: 16px; }

article {
  padding: 12px;
  margin: 4px 2px 24px 2px;
  height: 250px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

article > h1 {
  margin: 0;
  height: 24px;
  font-size: 20px;
  line-height: 24px; }

.list-view {
  float: left;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 2px black; }
  .list-view h1 {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 44px;
    line-height: 44px;
    padding: 0 16px;
    color: white;
    background-color: #2C7979; }
  .list-view ul {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 140px;
    overflow: auto; }
    .list-view ul li {
      margin: 0;
      padding: 16px;
      border-bottom: solid 1px rgba(0, 0, 0, 0.4); }
    .list-view ul .item-name {
      font-size: 14px; }
    .list-view ul .item-kana {
      font-size: 10px; }

.detail-view {
  float: left;
  margin: 0 0 0 16px;
  padding: 0;
  width: 300px;
  height: 200px;
  box-shadow: 0 0 2px black; }
  .detail-view .detail-contents {
    padding: 8px 0; }
    .detail-view .detail-contents > div {
      float: left;
      margin: 0;
      padding: 0; }
    .detail-view .detail-contents .face {
      width: 30%;
      text-align: center; }
    .detail-view .detail-contents .face img {
      width: 60%; }
    .detail-view .detail-contents .name-kana {
      padding: 32px 0;
      width: 60%; }
      .detail-view .detail-contents .name-kana .name span {
        display: none; }
      .detail-view .detail-contents .name-kana .kana span {
        display: none;
        font-size: 0.7em; }
      .detail-view .detail-contents .name-kana .js-edit-name {
        display: none; }
      .detail-view .detail-contents .name-kana .js-edit-kana {
        display: none; }
  .detail-view .ctl-btns {
    text-align: center; }
  .detail-view .js-edit-btn {
    display: none; }
